<div class="main-page">
    <h1>
        Welcome to jMDB!
    </h1>
        <button class="btn"
          mat-raised-button
          (click)="openUserRegistrationDialog()"
          style="margin-right: 10px; margin-bottom: 10px"
          color="primary"
        >
          Sign Up
        </button>
        <button class="btn"
          mat-raised-button
          (click)="openUserLoginDialog()"
          style="margin-right: 10px"
          color="primary"
        >
          Login
        </button>
</div>
<router-outlet />
