<div class="movie-page">
    <app-nav-bar></app-nav-bar>
</div>
<div class="movie-card-container">
<mat-card 
*ngFor="let movie of movies; let i=index;"
class="movie-card"
role="group"
>
<mat-card-header>
    <mat-card-title class="movie-name">{{movie.Name}}</mat-card-title>
    <mat-card-subtitle class="director-name">{{movie.Director[0].Name}}</mat-card-subtitle>
</mat-card-header>
        <img src={{movie.ImagePath}} alt="Photo of {{movie.Name}}" class="movie-poster"/>
        <mat-dialog-content>
        <mat-card-actions class="btn-container">
            <button
                mat-button
                color="primary"
                (click)="getTag(movie.Tags[0].Name, movie.Tags[0].Description, movie.Tags[1].Name, movie.Tags[1].Description)"
            >
                Tags
            </button>
            <button
                mat-button
                color="primary"
                (click)="getDirector(
                    movie.Director[0].Name, 
                    movie.Director[0].Bio)"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="getMovieDetails(movie.Name, movie.Description)"
            >
                Summary
            </button>
            <a
            class="icon">
                <mat-icon>favorite_border</mat-icon>
            </a>
        </mat-card-actions>
    </mat-dialog-content>
</mat-card>
</div>