.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, white, #FFD54F);
}

.movie-card {
    max-width: 400px;
    max-height: 700px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 auto;
    align-content: space-between;
}

.movie-name {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 5px;
}

.movie-poster {
    max-width: fit-content;
    padding: 10px;
    margin: 10px;
}

.btn-container{
    float:inline-end;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.icon {
    color:crimson;
}