<main>
    <app-nav-bar></app-nav-bar>
    <div class="header-container">
        <h3>
            Hello, welcome to your profile.
        </h3>
    </div>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Click to view your Account Info.
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="info-container">
            <mat-card-header>
                <mat-card-title> Your User Info </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="username">{{user.username}}</p>
                <p class="password"></p>
                <p class="email"></p>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <div class="update-section">
        <button class="btn"
          mat-raised-button
          (click)="openUpdateUserDialog()"
          style="margin-right: 10px; margin-top: 20px"
          color="primary"
        >
          Update Your Info?
        </button>
    </div>
</main>
