<main>
    <app-nav-bar></app-nav-bar>
    <div class="header-container">
        <h3>
            Hello, welcome to your profile.
        </h3>
    </div>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Click to view your Account Info.
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="info-container">
            <mat-card-header>
                <mat-card-title>
                    <h3>Your User Info</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <p class="username">
                        <b>Username:</b> {{userData.Username}}
                    </p>
                    <p class="email">
                    <b>Email:</b> {{userData.Email}}
                    </p>
                    <p class="email"> 
                        <b>Birthdate:</b> {{userData.Birthdate | date:'longDate'}}
                    </p>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <div class="update-section">
        <button class="btn"
          mat-raised-button
          (click)="openUpdateUserDialog()"
          style="margin-right: 10px; margin-top: 20px"
          color="primary"
        >
          Update Your Info?
        </button>
        <button
        mat-raised-button
        class="btn"
        (click)="deleteUser()"
        style="margin-right: 10px; margin-top: 20px"
        color="warn"
        >
        Delete Your Account?
        </button>
    </div>

    <div class="movie-container">
        <h3>Your Favorite Movies</h3>
        <mat-card class="movie-card"
        *ngFor="let movie of FavMovies"
        >
        <mat-card-header>
            <mat-card-title class="movie-name">
                {{movie.Name}}
            </mat-card-title>
            <mat-card-subtitle class="director-name">
                {{movie.Director[0].Name}}
            </mat-card-subtitle>
        </mat-card-header>
            <img src="{{movie.ImagePath}}" alt="Photo of {{movie.Name}}" class="movie-poster"/>
            <mat-card-actions>
            <button class="btn"
            mat-button
            (click)="removeFav(movie._id)">Remove Favorite
            </button>
        </mat-card-actions>
    </mat-card>
    </div>
</main>
